@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Ubuntu:ital,wght@1,300&family=Yuji+Hentaigana+Akari&display=swap');
:root{
  --slider-index:0;
  --darkred:hsl(0, 63%, 25%);
  --black:hsl(0, 12%, 7%);
}
*,*::after,*::before{
  box-sizing: border-box;
}
body{
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
    color:white;  
    background-color: black;
}
@media (max-width:700px)
{
 body,.moviecontainer,.movieDetails{ font-size: 8px;}
 h1{
  font-size:12px;
 }
.HomeCarousel .slider .Movie{
  background-size:contain !important;
}
.CarouselTitle{
  font-size:20px !important
}

}
@media (max-width:850px) {
#search-bar,.navibar{
  flex-basis: 100%;
}}
#root{
  margin:2.5%;
}
a{color:inherit;
cursor: pointer;}

.navibar ul{
  display:flex;
  justify-content:flex-end;
  align-items: center;
  gap:3rem;
   list-style-type: none;
  margin-right:10%;
}
.navibar li:hover{
  transform: scale(1.1);
  color:#333
}
.navibar i{
  font-size:2rem;
  
}
header{
  display:flex;
  flex-wrap: wrap;
  padding:1rem;
  align-items: center;
  justify-content: space-between;
  margin:8%;
 
}
#search-bar{
  border:2px solid var(--darkred);
  display:flex;
  width:30%;
  justify-content: flex-end;
  
  
}
#search-bar i{
  font-size:0.75rem;
  color:white;
  width:100%;
  height:100%;
}
#search-bar input,#search-bar button{
  border:0;
  outline:0;
  background: none;
  color:white;
  display:block;
  width:100%
  
}
#search-bar a{
  display:block;
  height:100%;
  padding:0;
}
#search-bar button:hover{
  background-color: var(--darkred);
 
}

.header{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom:10%;
}

.header h1{
  text-align: center;
  flex-basis: 100%;
}
.header .pages{
  text-align: center;
  display:flex;
  align-items: center;
  gap:0.25rem;
  height:fit-content;
}

.moviecontainer {
 text-align: center;
    width:15%;
    aspect-ratio:9/14;
    background-size: cover;
    background-repeat: no-repeat;
}
.moviecontainer *{
  min-width:0;
  min-height: 0;
}



.moviecontainer i{
 font-size:2rem}
.moviecontainer .HoverDetails{
display:none;

}
.moviecontainer:hover .HoverDetails{
  width:100%;
  height:100%;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  gap:0.5rem;

}


.HoverDetails i {
  color: yellow;
}


.moviecontainer:hover {
  transform:scale(1.1);
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.848);
 color: yellow !important;
transition: 250ms transform ease-in;}

.Movies{
    display: flex;
    gap:3rem;
    justify-content: center;
    flex-flow: row wrap;
    align-items: flex-end;
    align-content: space-between;
}
.option{
  color:var(--darkred)
}
.pages .btn{
  color:var(--darkred);
  background:none;
  border:1px solid var(--darkred);
  padding:0.5rem;
  margin:0.5rem;
}
.pages .btn:hover{
  color:var(--black);
  background-color:var(--darkred);
}


.movieDetails{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border:2px solid grey;
    margin: 2rem 2rem;
   
}
.genres{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  list-style-type: none;

}
.genres li {
  width:fit-content;
  padding:0.5rem;
  border:2px solid grey;
  border-radius:25%;
  text-align: center;
}
.rating{
  display:flex;
  flex-direction: column;
  align-items: center;
 justify-content: flex-end;
 position:relative;
}
.rating h2{
  position:absolute;
  top:20px;
  
}
.movieDescription{
  width:70%;
    display:flex;
    margin:2rem 1.5rem;
    border-radius:20px;
    flex-direction: column;
    justify-content: space-between;
    
}
.movieDescription *{min-width:0;
min-height:0;}
.movieDescription p{
  
}
.moviePoster{
  height:100%;
   width:25%;
    border-right:2px solid;
    min-width:300px;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(224, 1, 1), 
      rgba(0, 0, 0, 0)
    ) 1 100%;
   display:flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   
   

    
}
.moviePoster img {
  padding:1rem;
  width:100%;
  aspect-ratio: 8/12;
margin:1rem 1rem;


 
}
.gradient{
  background:   linear-gradient(
    to right, 
    rgb(224, 1, 1), 
    rgba(0, 0, 0, 0)
  ) 1 100%;
  height:3px;
  width:100%
}
.descriptionHeader{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}
.descriptionHeader .center{
 flex-basis:80%;
  text-align: center;
}
.cast{
    margin:2rem 0;
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    gap:2rem;
    justify-self:flex-end;
}
.castMember{
    width:25%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ActorName{
    text-align: center;

}
.castMember img{
  width:75%;
  aspect-ratio:1/1;
  border-radius:50%;
  border:2px solid var(--darkred)
 
}
.itemcontainer{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-self: flex-end;
}

.icons{
  margin:1.5rem 0;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:2rem;

}
.icons i:hover{
  color:#333
}
 i{
  font-size:3rem;
  
}
.descriptionHeader i{
  margin-left:auto;
  color: yellow!important;
}
.icons a{
  color:inherit
} 
.recommendations{
  margin:5%;
}
.slider-container{
  display:flex;
  overflow:hidden;

}

.slider{
 --slider-index:0;
 --maxindex:3;
display:flex;
 width:calc(100% - 6rem);
 align-items: center;
 transform: translateX(calc(-100%*var(--slider-index)));
 transition: transform 300ms ease-in-out;
}
.slider-container .moviecontainer{
  flex:0 0 20%;

}
.slider-container.list:hover .handle{
  background-color: rgba(17, 17, 23, 0.5);
  font-size:7rem;
  transition:250ms ease-in-out;
  
}
.handle{
  border:none;
  width:3rem;
  background-color: rgba(2, 2, 2, 0.796);
  z-index:10;
  font-size:5rem;
  color:var(--darkred)
}
.line-break{
  background:linear-gradient(to right,#333,#b4c9e7);
  height:3px;
  width:100%;
}
.CarouselContainer{
  margin:5% auto;
  width:85%;
}
.HomeCarousel{
  display:flex;
  position: relative;
  overflow: hidden;
  line-height:70px;
 font-family: 'Ubuntu', sans-serif;
 font-weight: bold;
}
.HomeCarousel .slider{
  display:flex;
  width:100%;
--maxindex:4;
  
}
.HomeCarousel .slider .Movie{
  --slider-index:0;
   transition: 250ms ease-in-out; 
  transform: translateX(-100% * var(--slider-index));
  flex:0 0 100%;
  aspect-ratio: 2/1;
  background-size:cover;
  background-repeat: no-repeat;
  display:flex;
  align-items:flex-end;
}
.HomeCarousel .movieInfo{
width:50%;
display:flex;
align-items: center;
justify-content:space-between;
flex-wrap: wrap;
margin:8%;
}
.HomeCarousel .handle{
  background: none;
  position:absolute;
}
.HomeCarousel .left-handle{
  left:0;
  top:0;
  bottom:0;
}
.HomeCarousel .right-handle{
  right:0;
  top:0;
  bottom:0;
}
.HomeCarousel:hover .handle{
  transform: scale(1.25);
}
.CarouselTitle{
  font-size:5rem;
  flex-basis:100%;
}
.movieInfo p{
width:50%;
text-decoration: underline;
  
}
.movieInfo button{
  background:none;
  border-radius:50%;
  color:white;
  border:2px solid white;
  font-size:2rem;
}
.movieInfo button:hover{
  color:black;
  border:2px solid black;
  
}

.progress-bar{
  width:15%;
  position:absolute;
  top:0.5rem;
  right:0.5rem;
  z-index: 1;
display:flex;
  justify-content:center;
  align-items: center;
  gap:2%;
}
.progress-bar-item{
  height:3px;
  background-color:rgb(255,255,255,0.5);
  width:15%;


}
.progress-bar-item.active{
  background-color:black
}
.fade-in {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;

}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.login-form{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color: rgb(0,0,0,0.7);
  z-index:10;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:250ms;
}


.login-form > div{
  width:50%;
  margin:auto;
  padding:1rem;
  background-color:hsl(0, 12%, 7%);
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-between;
  position:relative;
  

}
.login-form button{
  min-width: 0;
  min-height: 0;
}

#close-form{
  position:absolute;
  top:0;
  right:0;
}


.input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: var(--darkred);
  transition: 0.3s;
}

.input-block {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 10px 8px;
  border: 1px solid hsl(0, 63%, 25%);
  border-radius: 4px;
  margin: 25px;
  transition: 0.3s;
width:100%;}

  .login-form input {
    
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
  background-color:var(--black);
  color:white;
}
 

    input::placeholder {
      color: #ccc;
      opacity: 3;
    }
    input:focus::placeholder{
      opacity:0;
    }
    .login-form button{
      color:var(--darkred);
      border:2px solid var(--darkred);
      font-size:1.25rem;
      background:none;
      padding:1rem;
      transition:all 250ms;
      
    }
    .login-form a {
      text-decoration: underline;
    }
    #Ssubmit:hover,#Lsubmit:hover,.login-button:hover{
      color:var(--black);
      background-color: var(--darkred);
      transform:scale(1.1)
    }
    #close-form:hover{
      color:var(--black);
      background-color: var(--darkred);
    }
.logged-in-user{
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.login-button{
  background:none;
  border:2px solid var(--darkred);
  color:var(--darkred);
  font-size:1.5rem;
  padding:0.5rem;
 
}
.popup-menu{
  display:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position:absolute;
  left:100%;
  font-size:0.75rem;
  height:100%
}

.popup-menu.open{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: left center;

}
#logout{
  height: 100%;
  width: 100%;
  padding:0.25rem
}
#logout::after{
  content:"logout";
  font-size:0.5rem
}

@keyframes growDown {
    0% {
        transform: scaleX(0)
    }
    80% {
        transform: scaleX(1.1)
    }
    100% {
        transform: scaleX(1)
    }
}
.popup-menu button{display:none;
}
.popup-menu.open button{display:block}



.popup-menu button{
  color:white;
background-color:transparent;
border:2px solid var(--darkred);}
.flash-message{
  position:fixed;
  bottom:0;
  right:0;
  width:20%;
  padding:1rem;
  font-size:1.25rem;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  z-index:100
}

.flash-message.success{
  background-color: #d4edda;
  color:#28a745
}
.flash-message.error{
  background-color: var(--darkred);
  color:red
}
.flash-message.login-error{
  position: relative;
  width:100%;
  background-color: var(--darkred);
  color:red
}
.flash-message button{
  position:absolute;
  top:0;
  right:0;
  background: none;
  border:none;
  color:inherit
}

.info{
  background-color:#cce5ff;
  color:#5BC0DE
}
.list-container{
  margin:5rem 0;
}
.user-list{
  margin:2rem 0;
  font-size:1.25rem;
}
.user-list.logged-out,.user-list.empty{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: hsl(240, 90%, 7%);
}
.user-list-button{
  background: none;
  border:none;
  color:var(--black);
  background-color: var(--darkred);
}
.user-list-button.delete{
  position:absolute;
  top:20px;
  right:0;
}
.select-container{
  width:25%;
  display:flex;
  justify-content:center;
  gap:2%;
  align-items: flex-start;
  
}
.select-container p{
  margin-bottom:0;
  position: relative;
  bottom:10px;
  
}
.select{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:var(--darkred);
  width:50%;
  height:fit-content
  

}
.select  button{
  background:none;
  border:none;
  color:var(--darkred);
  position:absolute;
  right:-5px;
  font-size: 1.25rem;
}
.select > div{
  display:flex;
  justify-content:center;
  width: 100%;
  position: relative;
  border:2px solid var(--darkred);

}
.dropdown-menu {
 display:none;
  list-style-type: none;

}
.dropdown-menu.open{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation:DropDown 250ms ease-in-out;
  transform-origin: top center;
  width: 100%;
  padding:0;
  border-left:2px solid var(--darkred);
  border-right:2px solid var(--darkred);
  

}
.dropdown-menu li{
  width: 100%;
  text-align:center;
  display:none;
  padding:0.25rem;
  
}
.dropdown-menu.open li{
  display: block;
}
.dropdown-menu li:hover{
  background-color: var(--darkred);
  color:var(--black)
}
 @keyframes DropDown{
  0%{
   transform: scaleY(0);
  }
  70%{
    transform: scaleY(1.2);
      }
  100%{
   transform: scaleY(1);
  }
}  


  




  
  
  
